* {
   box-sizing: border-box; 
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-button {
    background-color: transparent;
    border: none;
}
.header {
    grid-area: header;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.aside {
    grid-area: aside;
}

.polls {
    grid-area: poll;
}

.entire-document {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: 
    "header header header header"
    "item1  item3  item3  aside" 
    "item2  item3  item3  aside"
    "poll   poll   poll   aside"
    ;
}