* {
    box-sizing: border-box;
}
.container {
    height: 400px;
}

.entire-page {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav-bar nav-bar nav-bar nav-bar"
    "body     body    body    aside"
    "body     body    body    aside"
    "body     body    body    aside"
    "body     body    body    aside"
    "body     body    body    aside";
}

.nav-bar {
    grid-area: nav-bar;
    background-color: black;
}

.aside {
    grid-area: aside;
}

.body {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    " line-one line-one line-one"
    " line-two line-two line-two"
    " line-three line-three line-three"
    " line-four line-four line-four"
    " line-five line-five line-five";
}

.line-one {
    grid-area: line-one;
    display: flex;
    border-right: 1px solid black;
    
}

.line-two {
    grid-area: line-two;
    display: flex;
}

.line-three {
    grid-area: line-three;
    display: flex;
}

.line-four{
    grid-area: line-four;
    display: flex;
}

.line-five {
    grid-area: line-five;
    display: flex;
}

.bigger-space {
flex-grow: 0.6;
border-left: 1px solid black;
border-right: 1px solid black;
}

.numbers {
    width: 200px;
    display: flex;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
}
.numbers:first-child {
    width: 200px;
    display: flex;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
}

.aside, ul {
    list-style: none;
}
