* {
    box-sizing: border-box;
}

.calculator {
    background-color: black;
    color: white;
    width: 400px;
}

.screen {
    color: white;
    font-size: larger;
    text-align: right;
    padding: 20px 5px;
    min-height: 500px
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 0.5%;
    gap: 0.5%;
}

.cal-button:last-child{
    background-color: rgb(178, 175, 175);
    color: black;
    height: 100px;
    width: 40%;
    border: none;
    cursor: pointer;
    font-size: large;
}

.cal-button{
    background-color: rgb(250, 133, 7);
    color: black;
    height: 100px;
    width: 40%;
    border: none;
    cursor: pointer;
    font-size: large;
}

.cal-button:hover {
    background-color: #ebebeb;
}

.cal-button:active {
    background-color: #bbbcbe;
}

.double {
    width: 83%;
}

.triple {
    width: 125%;
}

.cal-button:last-child {
    padding-bottom: 0;
}